<script type="text/javascript">
  function setup() {
    var myCanvas = createCanvas(2000, 500, WEBGL);
    myCanvas.parent('colorWall');
    cursor(CROSS);
  }

  var loc = 1;
  var dir = 1;

  function draw() {
    var rrr = 0.5;
    rrr = mouseY/height;
    var bbb = 0.5; 
    bbb = mouseX/width;

    pointLight(255, 0, 0, 0, loc, rrr);
    pointLight(0, 255, 0, loc, -loc, 0.5);
    pointLight(0, 0, 255, -loc, -loc, bbb);
    // pointLight(255, 255, 255, loc, 0, 0);

    ambientMaterial(100, 100, 100);
    plane(2000, 500);
    // ortho(-width/2, width/2, -height/2, height/2, 0.1, 100);
    // push();
    // translate(width-200, -height+100, 0);
    // sphere(50);
    // pop();

    if (loc > 1) {
      dir = -1;
    }

    if (loc < -1) {
      dir = 1;
    }

    loc = loc + 0.01*dir;

    if (mouseIsPressed) {
      for(var i = 0; i < 4 ; i++){
        rotateX(radians(frameCount));
        rotateY(radians(mouseY/10));
        rotateZ(radians(mouseX/10));
        basicMaterial(255, 255, 255);
        box(50);
      } 
  }
}

</script>