// @media (max-width: 600px) {
// 	.pictures img {
// 		margin-bottom: 4px;
// 	}
//
// 	.pictures {
// 		display: none;
// 	}
//
// 	.bigpic {
// 		margin-left: 0px;
// 	}
//
// }
//
// .pictures img {
// 	margin-bottom: 4px;
// }
//
// .pictures {
// 	width: 75px;
// 	float: left;
// 	height: 250px;
// 	overflow-y: scroll;
// }
//
// .bigpic {
// 	margin-left: 79px;
// }

/* this is the magic */

// .flickr_desc {
//   margin: 0;
//   padding: 0;
// }

.flickr_desc a {
  text-decoration:none;
  border-bottom: 1px solid black;
  transition: background 0.3s cubic-bezier(.33,.66,.66,1);
}

.flickr_desc a:hover {
  background: yellow;
}

.article-info a {
  text-decoration:none;
  border-bottom: 1px solid black;
  transition: background 0.3s cubic-bezier(.33,.66,.66,1);
}

.article-info a:hover {
  background: yellow;
}

.whole {
	@include container;
	@include clearfix;
	@media #{$micro} {
		img {
			@include grid(12,12);
		}
		figcaption {
			@include grid(12,12);
		}
	}
}

.whole img {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dashed black;
}

.videos iframe {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dashed black;
}

.iframewrap{
	margin-top: 5px;
  padding-top: 5px;
	border-top: 1px dashed black;
}

.article-info ul{
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
  padding-bottom: 25px;
  // border-bottom: 1px dashed black;
}
